body {
	margin: 0px;
	font-family: "Raleway";
}

#projects_home {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 650px;
	background-image: url("../resources/images/temp_home_img.png");
	background-size: cover; 
    background-position: center;
	font-weight: 100;
	color: #fff;
}

#header {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	top: 0;
	width: 100vw;

}

#header div {
	display: inline-flex;
	align-items: center;
	margin: 20px 40px 0px 0px;

}

#header div:hover {
	color: #6d6d6d;
}

#header a {
	padding: 10px 15px;
	text-decoration: none;
	font-size: 14px;
	color: inherit;
	transition: color 150ms ease-in;
	cursor: pointer;
}

#header a:hover {
	color: #fff;
}




#projects_home h1 {
	font-size: 5vw;
	font-weight: 900;
	margin: 0px;
	text-align: center;
}

#projects_home p {
	font-family: "Cardo";
	margin: 0;
	padding: 0 200px;
	text-align: center;
}

#buttons_container {
	display: flex;
	justify-content: center;
}

#projects_home .button {
	border: 2px solid #fff;
	width: 10vw;
	font-size: 2vw;
	padding: 1vw 0;
	text-align: center;
	margin: 1vw;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	transition: color 150ms, background-color 150ms;
}

#projects_home .button:hover {
	color: #000;
	background-color: #fff;
	font-weight: 900;
}









.project:nth-child(even) {
	background-color: #edeeef;
	color: #000;
}

.project:nth-child(odd) {
	background-color: #1f1f1f;
	color: #ccc;
}

.project h1 {
	margin: 0;
	padding-top: 50px;
	text-align: center;
	font-size: 50px;
	font-family: "Cardo";
}

.project .tagline {
	margin: 0;
	text-align: center;
}


.project .info {
	display: inline-block;
	width: 40%;
	margin: 2%;
	margin-right: 8%;
	vertical-align: middle;
	font-size: 18px;

}

.project .photos {
	display: inline-block;
	width: 42%;
	margin: 3%;
	margin-left: 5%;
    border-radius: 5px;
    vertical-align: middle;
}





















#footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 120px;
	background-color: #1f1f1f;
	color: #aaa;
}

#footer div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #6d6d6d;
}

#footer a {
	text-decoration: none;
	padding: 5px 45px;
	font-size: 14px;
	color: inherit;
	transition: color 150ms ease-in;
	cursor: pointer;
}

#footer a:hover {
	color: #fff;
}


#footer .icon {
	width: 20px;
	font-size: 20px;
	padding: 5px 25px;
}





